#map {
    position: relative;
    height: 400px;
    border: 2px solid #999;
}

#floating-panel {
    position: absolute;
    top: 30px;
    left: 30%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#pano {
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}

.row,
#wishedList,
#visitedList {
    margin-top: 5px;
}
